.marcarAgendamento_container{
    width: 450px;
    margin: 0 auto;
    padding: 3em;
}

.marcarAgendamento_container h1{
    margin-bottom: 0.5em;
}

.marcarAgendamento_container p{
    color:#7b7b7b
}